/*addimpanle css here*/

.table {font-size: 12px;}

@font-face {
  font-family:'Fontello';
  src:url('../fonts/fontelo.eot');
  src:url('../fonts/fontelo.eot') format('embedded-opentype'), url('../fonts/fontelo.woff') format('woff'), url('../fonts/fontelo.ttf') format('truetype'), url('../fonts/fontelo.svg') format('svg');
  font-style:normal;
}


.absolute {
	position:absolute;
}
.relative {
	position:relative;
}
.align_left {
	text-align:left;
}
.align_right {
	text-align:right;
}
.align_center {
	text-align:center;
}
.float_left{float:left;}
.float_right{float:right;}

.starthead{background:none;}

#loading {
    background: rgba(0,0,0,0.5);
    height: auto;
    width: 100%;
    height: 768px;
    position: fixed;
	left:0;
    z-index: 99;
    display: none;
    top: 0;
}
#loader{background:rgba(0,0,0,0.5); height:auto; width:100%; height: 768px; position:fixed; z-index:99; display:none; top:0;}
.loader-block{width:50px; margin:0 auto; text-align:center; margin-top:150px;}
.spinloader{font-size:40px !important; position:relative !important; left:0; color:#fff;}


.headPart{background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd)); background-color: #f4f5f5; border-bottom:2px solid#999;}
.title{width:100px; padding-left:20px; padding-top:5px;}
.logout{padding:15px 50px 15px 10px; width:400px; text-decoration:none; text-align:right;}

.clear{clear:both;}
.user_style{margin-left:10px; float:right;}
.admin_body{height:100%; width:100%; background:#d7e7ff; position:absolute;}
.admin{width:400px ;font-size:100%; display:block; margin:170px auto; padding:20px; background:#f3f3f3; border-radius:3px;box-shadow:0 0 6px #bbc0c3;}
.padding{padding-top:20px;}
.flote_left{float:left;}
.float_right{float:right;}
.login_title{padding:10px 0 20px 0; font-size:15pt ; text-align:center;}
.deshbord_width{ margin:20px auto;}
.img_deshbord{padding:5px; margin:10px 0 12px 0; -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -5px #ABBAFE;
	        box-shadow: 0 8px 6px -5px #ABBAFE;}
.admin_text{font:italic 12pt Georgia, "Times New Roman", Times, serif; color:#00AAB3; margin-bottom:6px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);}
.showe_dade{font:11pt Arial, Helvetica, sans-serif; color:#202020; width:200px; text-shadow: 1px 1px 0 rgba(0,0,0,0.3);}
.mandatory span{color:red;}
.error{color:red;font-size:0.8em;}
td.verify span{color:#F00;}
.table-container{margin: 20px;}
h4{/*margin: 30px 0; padding: 0 200px 15px 0; border-bottom: 1px solid #E5E5E5;*/}
.field_title{
font-size:17px;
font-weight:bold;
padding:0;
padding-top:5px;
padding-bottom:5px;
padding-left:10px;
border-bottom:solid 1px #CCCCCC;
margin-bottom:10px;
}
.main{margin:20px 20px 100px 20px;}

#form-step2, #form-step3{margin-top:80px;}
.col-height{padding-bottom:10px;}
.subhead{padding-top:0px;}
.subhead h4{border-bottom:0; margin-bottom:0;} 
.addBlock{ margin-bottom:10px; width:600px; border:solid 1px #e5e5e5;}
.addBlock2{ margin-bottom:10px; }
.addressBlkTitle{padding:7px; margin-bottom:10px; background:#036; color:#fff; font:bold 9pt Arial, Helvetica, sans-serif;}

textarea.txtarea{height:100px;}

/* CSS for Plus(+) button */
.btn {
padding: 4px 10px;
font-size: 13px;
text-align: center;
cursor: pointer;
}
button.logoffBtn{padding: 8px 12px; font-size: 14px;}
.btn-primary {
color: #ffffff;
text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
background-color: #0362a9;
/*background-image: -moz-linear-gradient(top,#0378a9,#0341a9);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#0378a9),to(#0341a9));
background-image: -webkit-linear-gradient(top,#0378a9,#0341a9);
background-image: -o-linear-gradient(top,#0378a9,#0341a9);*/
background-image: linear-gradient(to bottom,#0378a9,#0341a9);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000378a8', endColorstr='#000341a8', GradientType=0);
border-color: #0341a9 #0341a9 #02245e;
/*border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);*/
/*filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);*/

}
.btn [class^="icon-"], .btn [class*=" icon-"] {
line-height: .9em;
}
.btn i {
margin-right: 3px;
}
a [class^="icon-"], a [class*=" icon-"] {
display: inline-block;
text-decoration: inherit;
}
[class^="icon-"], [class*=" icon-"] {
/*display: inline;*/
width: auto;
height: auto;
/*line-height: inherit;*/
vertical-align: baseline;
background-image: none;
background-position: 0% 0%;
background-repeat: repeat;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
/*.icon-plus:before {
content: '\2b';
}
[class^="icon-"]:before, [class*=" icon-"]:before {
font-family: Fontello;
font-weight: normal;
font-style: normal;
display: inline-block;
text-decoration: inherit;
}*/

.icon-forward-1:before {
content: '\27a6';
}

.page-title{border-bottom: 1px solid #E5E5E5; margin-bottom:30px;}



/*########################################*/
/*== CSS for 3rd level dropdown menu ==*/
/*########################################*/
.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
/*== eof 3rd level dropdown menu ==*/

.search-fields{margin:0 15px;}

.small-headings{width:60%; padding-bottom:5px; font-size:18px; margin:50px auto 20px auto; border-bottom:solid 1px #F2F2F2;}


