/*
Name of the stylesheet : style.css
Company Name: RICE EDU
Design & Developed by SUNCROSS ONLINE - www.suncrossonline.com
Date of Creation - 01/01/2017
Use of the stylesheet for the website : "the stylesheet used for every classes and ids"; 
"stylesheet for all the menus")
**************** CONTENT OBJECTS ***************** 

New Fonts */
@font-face {
	font-family: 'calibri';
	src: local('?'), url('../fonts/CALIBRI.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'GOTHIC';
	src: local('?'), url('../fonts/GOTHIC.TTF') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src: local('?'), url('../fonts/BebasNeue.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Colaborate-Thin';
	src: local('?'), url('../fonts/ColabThi.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Aller';
	src: local('?'), url('../fonts/Aller_Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Nexa Light';
	src: local('?'), url('../fonts/NexaLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Whipsmart';
	src: local('?'), url('../fonts/Whipsmart.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* ====== Default spacing ====== */
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote {padding:0; margin:0;}
h1, h2, h3, h4, h5, h6,img{padding-bottom:0px;}
pre{margin:10px;}
table h1,table h2,table h3, table h4, table h5, table h6, table p, table ul, table ol, table dl{padding:0;}

/* ====== Headings ====== */
/* .h1-.h6 classes should be used to maintain the semantically appropriate heading levels - NOT for use on non-headings */
h1, .h1{font:15pt 'calibri'; font-weight:normal; font-style: normal; color:#0755a3;}
h2, .h2{font:14pt "Trebuchet MS", Arial, Helvetica, sans-serif; color:#000;}
h3, .h3{font-size:12pt; font-weight:bold; font-style: normal;}
h4, .h4{font-size:123.1%; font-weight:normal; font-style: normal; color: #333;}
h5, .h5{font-size:16px; color:#0686f7;     font-family: 'open sans', arial, sans-serif;     margin-top: 10px;
    margin-bottom: 10px;}
h6, .h6{font-size:9pt; font-weight:normal; color:#fff;}
h1, h2, h3, p, ul{margin:0;padding:0;}
h1{color:#000; font:20pt 'calibri';}

/* ====== Elements ====== */
img{border:0;}
input{font:8pt Verdana, Geneva, sans-serif; color:#000;}
em{font-style: italic;}
strong{font-weight:bold;}
hr{border:1px solid #d3d3d3; border-width: 0 0 1px 0; 0 }
code{color:#0B8C8F;}
marquee{cursor:default;}
p, .p{font:8pt Arial, Helvetica, sans-serif; color:#333; line-height:17px;  font-weight:300; margin: 0 0 10px;}
img{border:0;}
ul li{list-style:none;}
form{padding:0; margin:0;}
body{margin:0; padding:0; font:9pt Arial, Helvetica, sans-serif; background:#f9f7f5;}
fieldset 
	{
		border: 1px solid #ddd !important;
		margin: 0;
		xmin-width: 0;
		padding: 10px;       
		position: relative;
		border-radius:4px;
		background-color:#f5f5f5;
		padding-left:10px!important;
	}	
	
		legend
		{
			font-size:14px;
			font-weight:bold;
			margin-bottom: 0px; 
			border: 1px solid #ddd;
			border-radius: 4px; 
			padding: 5px 5px 5px 10px; 
			background-color: #ffffff;
		}

/* ====== Custom Classes ====== */
.clear{clear:both;}
.minfont, .blank{font:1pt Arial, Helvetica, sans-serif;}
.absolute{position:absolute;}
.relative{position:relative;}
.align_left{text-align:left;}
.align_right{text-align:right;}
.align_center{text-align:center;}
.tblTopAlign{vertical-align:top;}
.tblBotAlign{vertical-align:bottom;}
.mandatory span{color:#ff0000;}
.blank{height:12px;}
.blank2{padding-top:14px;}

/* ====== header side Classes ====== */
.containerTopBor{border-top:solid 5px #32d0ed;}

hgroup{/*height:73px;*/ padding:0 0 10px 0;}
h1.site-title{font:bold 20pt 'Whipsmart'; /*margin:10px 0 0 20px; */ padding:10px; float:left; color:#d0d0d0;}
/*nav{float:left;}*/
.site-navigation{margin-right:20px;}
.site-navigation li{float:left; margin-right:5px;}
.site-navigation li a, .site-navigation li a:hover{/*font:16pt 'BebasNeue'; */font:bold 11pt Arial, Helvetica, sans-serif; display:block; padding:15px 10px 13px 10px;}
.site-navigation li a{color:#fff;}
.site-navigation li a:hover, .site-navigation li a.active{color:#0a5099; background:#32d0ed; text-decoration:none;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-bottomright: 5px;
border-bottom-left-radius: 5px;
border-bottom-right-radius: 5px;
}

.darkgray-strip{background:#32b1d1;}

.box-shadow{box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30);}

.homeMid{margin-top:15px;}
.mid-top-left{padding-left:0;}
.mid-top-right{padding-right:0;}
.slider-block{background:#fff; padding:10px;}
.mid-top-right-block{background:#fff; padding:10px;}
.AbtNSDCBtn{margin:18px 0;}
.nsdcBtn{ border:solid 1px #52a552; padding-top:10px; padding-bottom:10px; font:bold 11pt Arial, Helvetica, sans-serif;
background: -webkit-linear-gradient(#60c060, #51a451); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#60c060, #51a451); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#60c060, #51a451); /* For Firefox 3.6 to 15 */
background: linear-gradient(#60c060, #51a451); /* Standard syntax */
}
.nsdcBtn:hover{ border:solid 1px #52a552;
background: -webkit-linear-gradient(#60c060, #438c43); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#60c060, #438c43); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#60c060, #438c43); /* For Firefox 3.6 to 15 */
background: linear-gradient(#60c060, #438c43); /* Standard syntax */
}
.homeContentBlock{margin-top:40px; margin-bottom:30px;}
.homeContent-left h3, .homeContent-mid h3, .homeContent-right h3{font:25pt 'Nexa Light'; color:#2a2a2a; margin-bottom:25px;}
.homeContent-mid h3{padding-left:20px}
.news-section ul li, .faq-block ul li{line-height:20px; margin-bottom:15px;}
.faq-block{border-left:solid 1px #e8e8e7; border-right:solid 1px #e8e8e7; padding:0 20px; min-height:200px;} 
.padding{padding-top: 20px;}
.padding-left-right-zero{padding-left:0!important; padding-right:0!important;}
.padding-left-zero{padding-left:0 !important;}
.padding-right-zero{padding-right:0!important;}
.modalTxt{font-size:14px;}
.tblrow{padding-bottom:8px;}

.footer{border-top:solid 1px #e8e8e7; padding-top:15px; font-size:8pt;}

/******************************************/
/* CSS for inner pages */
/******************************************/
.left-sidebar{padding-left:0; margin-bottom:15px; }
.left-block{padding:15px; border-top:solid 5px #333; }
.left-block, .page-content{background:#fff; box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30); }
.left-block ul li{padding-bottom:15px;}
.left-block ul li a{cursor:pointer;}
.left-block h3{padding-bottom:5px; border-bottom:solid 1px #E9E9E9; margin-bottom:15px;}

.page-content{padding-bottom:20px; margin-bottom:15px;}
.page-content h1{padding:20px 0 5px 0; margin-bottom:20px; border-bottom:solid 1px #E9E9E9;}
.page-content2 h1{padding:20px 0 5px 0; margin-bottom:20px; border-bottom:solid 1px #E9E9E9;}
.page-content p{font-size:9pt; line-height: 20px;}

.pageTitle{border-bottom:solid 1px #E9E9E9; margin-bottom:15px;}
.pageTitle h1{border-bottom:0; padding:20px 0 5px 0; margin-bottom:0;}

.examBtns{padding-top:10px;}

.heading{font:13pt "Trebuchet MS", Arial, Helvetica, sans-serif; padding:20px 0 10px 0; color:#09F;}
.section, .HighlightSection{box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.30); margin:15px 0; padding:20px; height:350px;}
.section{background: #fff;}
.section p{font-size:9pt; line-height:2;}
.HighlightSection{background: #badcf1;}
.HighlightSection h3{text-decoration:underline; padding-bottom:10px; font-size:14pt;}
.HighlightSection p{font-size:10pt; margin-bottom:20px;}
ul.simplelist {
margin: 10px 0 20px 50px;
}
ul.simplelist li {
list-style: disc;
font: 10pt Arial, Helvetica, sans-serif;
line-height: 25px;
}
ol.alpha{margin:10px 0 20px 50px;}
ol.alpha li{list-style:lower-alpha; line-height:20px; font:10pt Arial, Helvetica, sans-serif; line-height:25px;}
ol.alpha li ol li{list-style:lower-roman;}

.back-to-top {
    position: fixed;
    bottom:0px;
    right: 0px;
	width:44px;
	height:42px;
	background:url(../images/backtotop.png) 0 0;
    display: none;
}
.contactFrm{width:50%;}
.contactFrm .control-label{text-align:left;}
.error, .captchaError{color:#ff0000;}
textarea.textarea{height:150px;}
.contactTxt p{font-size:9pt;}
.gmap{padding-top:50px;}
#successMsg{display:none;}



.related-logos ul li:last-child {
    border-left: solid 0 #CCC;
}
.related-logos ul li {
    list-style: none;
    float: right;
    border-left: solid 1px #CCC;
    display: inline-block;
    padding: 0 11px;
    margin-bottom: 11px;
}
section.content {
    background: #f5f5f5;
    overflow: hidden;
}
section.content h1.section-heading {
    font-size: 22px;
    font-weight: 300;
    line-height: 2;
    margin-top: 0;
    color: #2f506c;
}
section.content h1.section-heading .line {
    border-top: 2px solid #32b1d1;
    display: inline-block;
    padding: 0 15px;
    padding-top: 5px;
}

.owl-dots, .owl-theme .owl-controls{display:none !important;}
.white-bg{background:#fff; padding:10px;}
.job-person-bg{background:#fff;}
.job-person{padding-top:20px; padding-bottom:20px;}
.page-content ul{padding-left:30px;}
.page-content ul li { margin-bottom: 5px; list-style:circle;}

p.directorMsg{font-size:16px; margin-bottom:30px;}
p.directorMsg span{color:#0686f7}

.login-box{width:40%;}

.imp-notice li{padding-bottom:10px;}
.imp-notice li a{font-size:15px;}

.login-panel{width:70%; margin:0 auto;}
.panel{margin-bottom:0;}
.panel-heading{font-size:16px!important;}

.student-sec{margin-bottom:30px !important;}

.topStrip{background:#000; padding:10px 0; color:#fff;}
.topStrip ul{padding:0; margin:0;}
.topStrip ul li{float:right; margin-left:10px;}
.topStrip ul li a, .topStrip ul li a:hover{color:#fff;}


@media only screen and (max-width:319px) {
	.nsdcBtn{font: bold 9pt Arial, Helvetica, sans-serif;}
	.mid-top-right, .mid-top-left{float:none; padding-left:0; padding-right:0;}
	.mid-top-right{margin-top:15px;}
	.homeContent-right{margin-bottom:15px;}
	
	.site-navigation li{float:none;}
	.navbar-toggle{background-color:#fff;}	
}

@media only screen and (min-width:320px) and (max-width:688px) {
	.site-navigation li a:hover, .site-navigation li a.active{color:#0a5099; background:#32d0ed; text-decoration:none;
		-webkit-border-bottom-left-radius: 0px;
		-webkit-border-bottom-right-radius: 0px;
		-moz-border-radius-bottomleft:0px;
		-moz-border-radius-bottomright: 0px;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
}

@media only screen and (min-width:320px) and (max-width:767px) {
	
	.mid-top-right, .mid-top-left{float:none; padding-left:0; padding-right:0;}
	.mid-top-right{margin-top:15px;}
	.navbar-toggle{background-color:#fff;}	
	
}

@media only screen and (min-width:768px) and (max-width:969px){
	.nsdcBtn{font: bold 9pt Arial, Helvetica, sans-serif;}
	.footer{padding-bottom:10px;}
}

@media only screen and (min-width:1025px) and (max-width:1280px) {
	.mid-top-right-block{padding:25px 10px;}
	.AbtNSDCBtn{margin:22px 0;}
	.nsdcBtn{font: bold 14pt Arial, Helvetica, sans-serif;}
	.news-section ul li, .faq-block ul li{font-size:11pt;}
	.footer{padding-bottom:10px;}
}