.mega-menu ul, .mega-menu ul li {list-style: none;}
.mega-menu ul {position: relative; padding: 0; margin: 0;}
.mega-menu ul li ul {display: none;}
.mega-menu .sub {display: none;}
.mega-menu .sub ul {display: block;}

.red {font: normal 11px Arial, sans-serif; line-height: 16px; margin-bottom:10px; border-top:solid 1px #fff; border-left:solid 1px #fff;}
.red ul.mega-menu, .red ul.mega-menu, .red ul.mega-menu li {margin: 0; padding: 0; border: none;}
.red ul.mega-menu {/*background: #8998a8 url(images/bg_red.png) repeat-x 0 -80px;*/ background:#d11e24; width: 100%; height: 41px;  position: relative;}
.red ul.mega-menu li {float: left; margin: 0; padding: 0; font-size: 12px; font-weight: bold; border-right: solid 1px #fff;}
.red ul.mega-menu li a {float: left; width:110px; height:41px; display: block; color: #fff; padding: 5px 4px 5px 13px; /*background:url(images/bg_red.png) repeat-x 100% 0;*/ background:#d11e24; text-shadow: 1px 1px 1px #000; text-decoration: none;}
.red ul.mega-menu li li a{width:auto; height:auto;}

.red ul.mega-menu li a.dc-mega {position: relative;}
.red ul.mega-menu li a .dc-mega-icon {display: block; position: absolute; top: 18px; right: 15px; width: 8px; height: 6px; /*background: url(images/arrow.png) no-repeat 0 0;*/}
.red ul.mega-menu li.mega-hover a, .red ul.mega-menu li a:hover {background-position: 100% -40px; color:#000; background:#fff; text-shadow: none;}
.red ul.mega-menu li.mega-hover a .dc-mega-icon {background-position: 0 100%;}
.red ul.mega-menu li .sub-container {position: absolute; background:#fff; /*background: url(images/bg_sub_left.png) no-repeat 0 100%;*/ padding-left: 20px; margin-left: 0px; }
.red ul.mega-menu li:hover .sub-container{border:2px solid #d11e24; border-top:0;}

.red ul.mega-menu li .sub {/*background: url(images/bg_sub.png) no-repeat 100% 100%;*/ background:#fff; padding: 20px 20px 20px 10px;}
.red ul.mega-menu li .sub-container.mega .sub {/*padding: 20px 20px 10px 0;*/}
.red ul.mega-menu li .sub .row {width: 100%; overflow: hidden; clear: both;}
.red ul.mega-menu li .sub li {list-style: none; float: none; width: 150px; font-size: 1em; font-weight: normal;}
.red ul.mega-menu li .sub li.mega-hdr {margin: 0 10px 10px 0; float: left;}
.red ul.mega-menu li .sub li.mega-hdr.last {margin-right: 0;}
.red ul.mega-menu li .sub a {background: none; border: none; text-shadow: none; color: #111; padding: 7px 10px; display: block; float: none; text-decoration: none; font-size: 0.9em;}
.red ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a {/*padding:5px 10px 22px 10px;*/ margin-bottom: 5px; background:#d11e24; /*background:#DB323A url(images/bg_mega_hdr.png) no-repeat 0 0; text-transform: uppercase;*/ font-weight:bold; color:#fff; text-shadow:1px 1px 1px #333;}
.red ul.mega-menu li .sub li.mega-hdr a.mega-hdr-a:hover {color:#fff; text-shadow:none; background:#888733;}
.red ul.mega-menu .sub li.mega-hdr li a {padding: 4px 5px 4px 20px; background: url(images/arrow_off.png) no-repeat 5px 8px; font-weight: normal; /*width: 150px;*/}
.red ul.mega-menu .sub li.mega-hdr li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 5px 8px;}
.red ul.mega-menu .sub ul li {padding-right: 0;}
.red ul.mega-menu li .sub-container.non-mega .sub {padding: 20px 20px 20px 0;}
.red ul.mega-menu li .sub-container.non-mega li {padding: 0; width: 190px; margin: 0;}
.red ul.mega-menu li .sub-container.non-mega li a {padding: 7px 5px 7px 22px; background: url(images/arrow_off.png) no-repeat 7px 10px;}
.red ul.mega-menu li .sub-container.non-mega li a:hover {color: #a32403; background: #efefef url(images/arrow_on.png) no-repeat 7px 10px;}

#mega-menu-7 .mega-hdr-a{height:auto;}